body {
  display: flex;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

/* header */

#main-view {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#header {
  background-color: black;
  height: 50px;
  width: 100%;
  flex: 0 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}

.title {
  font-family: "Kanit", sans-serif;
  color: white;
  font-size: 250%;
}

/* slider */

#slider {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}

#slider-images-section {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.image-container img {
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
}

.arrow-button {
  padding: 20px;
  border: 1px solid #818181;
  border-radius: 1rem;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  transition: box-shadow 0.3s;
}

.arrow-button:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* galeria */

.section-title {
  font-family: "Kanit", sans-serif;
  background-color: black;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

#gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 9vw);
  grid-gap: 15px;
  margin-bottom: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.gallery__img:hover {
  transform: scale(1.02);
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gallery__item--5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.gallery__item--6 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.gallery__item--8 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}
.gallery__item--9 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
.gallery__item--10 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}

/* .gallery-row {
  width: 800px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.gallery-image {
  max-width: 220px;
  max-height: 220px;
  width: auto;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  object-fit: cover;
} */

/* footer */

#footer {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

#footer p {
  font-family: "Sofia Sans", sans-serif;
  color: white;
}

/* profile */

.profile {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: 30px auto 30px auto;
}

.profile-image {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  align-items: center;
}

.profile-image img {
  box-shadow: -50px -50px 0 -40px black, 50px 50px 0 -40px black;
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 150px;
}

.profile-description {
  width: 100%;
  flex: 1;
  font-family: "Kanit", sans-serif, monospace;
}

.profile-description h2 {
  text-align: left;
}

/* modal */

#modal-image {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  display: none;
}

#modal-image img {
  max-height: 80%;
  max-width: 90%;
  margin: 100px auto;
  display: flex;
  border-radius: 10px;
  border: solid black 5px;
}

/*menu*/
.menu {
  -ms-transition: left 0.3s, box-shadow ease 0.3s;
  -moz-transition: left 0.3s, box-shadow ease 0.3s;
  -o-transition: left 0.3s, box-shadow ease 0.3s;
  -webkit-transition: left 0.3s, box-shadow ease 0.3s;
  transition: left 0.3s, box-shadow ease 0.3s;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: black;
  width: 250px;
  height: 100%;
}

/* menu */

.show-menu {
  -ms-transition: -ms-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  display: block;
  overflow: hidden;
  z-index: 9999;
  position: absolute;
  top: 10;
  right: -60px;
  box-shadow: none;
  background-color: black;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 100%;
}

.menu-bar {
  transition: transform 0.4s ease-in-out;
  display: block;
  background-color: #ffffff;
  margin: 0 auto;
  margin-bottom: 6px;
  width: 20px;
  height: 2px;
}

.menu-bar-1 {
  margin-top: 5px;
}

.clicked {
  box-shadow: 0 0 5px #181818;
}

.clicked .menu-bar-1 {
  -ms-transform: rotate(-45deg) translate(-6px, 6px);
  -moz-transform: rotate(-45deg) translate(-6px, 6px);
  -o-transform: rotate(-45deg) translate(-6px, 6px);
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.clicked .menu-bar-2 {
  transform: translate(100px);
}

.clicked .menu-bar-3 {
  -ms-transform: rotate(45deg) translate(-5px, -5px);
  -moz-transform: rotate(45deg) translate(-5px, -5px);
  -o-transform: rotate(45deg) translate(-5px, -5px);
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
  transform: rotate(45deg) translate(-5px, -5px);
}

.clicked .menu-bar {
  width: 21px;
}

.menu h3 {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: "Kanit", sans-serif;
  color: white;
}

ul {
  list-style: none;
}
.current-image {
  animation: fadeInOut 1s ease-in-out;
}
@keyframes fadeInOut {
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu ul li a {
  font-size: 100%;
  color: white;
  font-family: "Kanit", sans-serif;
  text-decoration: none;
}

.kontakt {
  color: white;
  font-family: "Kanit", sans-serif;
  position: absolute;
  bottom: 10%;
  margin-left: 10%;
  font-size: 110%;
}
.mail {
  color: white;
  font-family: "Kanit", sans-serif;
  position: absolute;
  bottom: 7%;
  margin-left: 10%;
}
.signal {
  color: white;
  font-family: "Kanit", sans-serif;
  position: absolute;
  bottom: 2%;
  margin-left: 10%;
}
